.page
{
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #f6f9f9;
}

.gallery__blackout
{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: rgba(255, 255, 255, .85);
}

.gallery
{
    font-family: 'Lato', sans-serif;

    display: block;

    width: 100%;
    min-width: 400px;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;

    text-align: center;
}

.gallery__headline
{
    font-size: 41px;
    font-weight: 400;

    margin: 60px 0 23px 0;

    color: #2d3950;
}

.gallery__headline-small
{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;

    margin-bottom: 80px;

    color: #909090;
}

.gallery__container
{
    position: relative;
}

.gallery__item
{
    position: relative;

    display: inline-block;

    width: 360px;
    height: 260px;
    margin: 5px 15px;

    border-radius: 2px;
    background: rgba(37, 166, 247, 1);
}

.gallery__item:hover .gallery__image
{
    opacity: .3;
}

.gallery__item-cover
{
    position: relative;

    display: inline-block;

    width: 360px;
    height: 260px;

    transition: .5s;
}

.gallery__image
{
    width: 360px;
    height: 260px;
}

.gallery__controls-container
{
    position: relative;
    bottom: 58%;
    left: 0;

    display: inline-block;
}

.gallery__control-box-left,
.gallery__control-box-right
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0 3px;

    cursor: pointer;

    opacity: 1;
    border-radius: 2px;
}

.gallery__control-box-left:hover,
.gallery__control-box-right:hover
{
    transition: .5s;

    opacity: 1;
    background: rgba(37, 166, 247, 1);
}

.gallery__item:hover .gallery__icon
{
    opacity: 1;
}

.gallery__control
{
    position: relative;
    top: 12px;
    left: 1px;

    display: inline-block;

    opacity: 1;
}

.gallery__icon
{
    position: relative;
    bottom: 2px;

    display: block;

    width: 20px;
    height: 20px;

    opacity: 0;
}

.galllery__preview-box
{
    position: absolute;
    z-index: 101;
    top: 220px;
    right: 0;
    left: 0;

    display: block;
    display: none;

    max-width: 60%;
    height: auto;
    margin: auto;

    text-align: center;
}

.gallery__image-preview
{
    position: relative;

    display: inline-block;

    width: 100%;
}

.gallery__x-button
{
    position: absolute;
    z-index: 102;
    top: -20px;
    right: 3%;

    width: 40px;
    height: 40px;

    background-color: #25a6f7;
}

.gallery__x-button:hover
{
    transition: .2s;

    background-color: #f74c26;
}

.gallery__icon-preview
{
    position: relative;
    top: 28%;

    width: 11px;
    height: 11px;
}
