/* font-family: "GothamProRegular"; */

@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */

@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */

@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"), url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */

@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */

@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */

@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */

@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */

@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.page {
    padding: 0;
    margin: 0 auto;
    border: 0;
    background: #fff;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #000;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 9px 16px 51px 0px rgba(0, 0, 1, 0.35);
}

.container {
    position: relative;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
/*  ********* Header and Menu  ********** */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background-color: #fff;
    box-shadow: 9px 16px 51px 0px rgba(0, 0, 1, 0.15);
}

.js-header-shrink {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 10000;
    overflow: hidden;
    opacity: 0.85;
    box-shadow: none;
}

.js-header-shrink:hover,
.js-header-shrink:focus {
    opacity: 1;
}

.header:after {
    content: '';
    clear: both;
}

.logo {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    left: 3%;
    float: left;
}

.js-header-shrink .logo {
    margin-top: 7px;
}

.logo__img {
    width: 135px;
    height: 40px;
}

.js-header-shrink .logo__img {
    width: 110px;
    height: 30px;
}

.logo__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.top-nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 85%;
    text-align: left;
    float: right;
}

.top-nav__element {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
    margin-right: 3px;
    list-style: none;
    text-align: center;
}

.js-header-shrink .top-nav__element {
    width: 80px;
    bottom: 12px;
}

.top-nav__element--registration {
    position: relative;
    display: inline-block;
    list-style: none;
    text-align: center;
    top: 5px;
    float: right;
    right: 3%;
    border: none;
    border-color: #ff6c00;
    background-color: #ff6c00;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 40px;
}

.js-header-shrink .top-nav__element--registration {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
    margin-right: 3px;
    list-style: none;
    text-align: center;
    top: -7px;
}

.top-nav__link {
    width: 90px;
    height: 35px;
    border-width: 7px;
    border-color: transparent;
    border-style: solid;
    display: block;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    position: relative;
    line-height: 35px;
    vertical-align: middle;
}

.js-header-shrink .top-nav__link {
    width: 70px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    vertical-align: top;
}

.top-nav__link--registration {
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
    position: relative;
}

.js-header-shrink .top-nav__link--registration {
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
    position: relative;
}

.top-nav__link:hover,
.top-nav__link:focus,
.top-nav__link:active {
    border-width: 7px;
    border-color: #e1e3ec;
    border-style: solid;
}

.nav-toggle {
    display: none;
}

.nav-toggle__btn {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 50px;
    height: 50px;
    color: #fff;
}

.nav-toggle__btn:before,
.nav-toggle__btn:after {
    content: "\f039";
    position: absolute;
    display: none;
    color: #fff;
    right: 51px;
    padding: 0 8px;
    font-family: FontAwesome;
    font-size: 28px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 1000;
}

.nav-toggle__btn:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.nav-toggle__btn:hover:after,
.nav-toggle__btn:active:after {
    -webkit-animation-name: icon-float-away;
    animation-name: icon-float-away;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}

@keyframes icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}
/*  ********* Display #1 ********** */

.sub-header {
    position: relative;
    width: 100%;
    min-height: 990px;
    height: auto;
    padding-top: 85px;
    background: url(../images/intro_bg.png) 100%;
    background-size: cover;
    box-shadow: inset 0px -16px 51px 0 rgba(0, 0, 0, 0.25);
}

.sub-header__heading {
    position: relative;
    display: block;
    left: 0;
    width: 400px;
    height: auto;
    padding-top: 85px;
    margin: 0 0 27px 0;
    text-align: left;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 42px;
}

.sub-header__text {
    position: relative;
    display: block;
    left: 0;
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.sub-header__box-wraper {
    position: relative;
    display: block;
    left: 0;
    width: 540px;
}

.sub-header__box {
    position: relative;
    display: inline-block;
    height: 105px;
    width: 224px;
    border-width: 7px;
    border-color: #e1e3ec;
    border-style: solid;
    margin: 35px 27px 27px 0;
}

.sub-header__box:first-of-type:after {
    content: '';
    position: absolute;
    height: 7px;
    width: 37px;
    top: 50px;
    left: 230px;
    background: #e1e3ec;
}

.sub-header__box-text {
    margin: 25px 10px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 90%;
}

.sub-header__logo {
    display: block;
    position: absolute;
    left: 60%;
    bottom: 0;
    width: 245px;
    height: 785px;
}

.sub-header__date {
    display: block;
    position: absolute;
    left: 15%;
    bottom: 0;
    width: 128px;
    height: 365px;
}

.sub-header__place {
    display: block;
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 162px;
    height: 252px;
}
/*  ********* Display #2 ********** */

.event-info-section {
    position: relative;
    background: #fff;
    min-height: 990px;
    height: auto;
    box-shadow: inset 0px -16px 51px 0 rgba(0, 0, 0, 0.25);
}

.event-info-section__heading {
    position: relative;
    left: 0;
    width: 400px;
    height: auto;
    padding-top: 85px;
    margin: 0 0 44px 0;
    text-align: left;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 42px;
}

.event-info-section__heading--orange {
    margin: 50px 0 0 0;
    padding-top: 0;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: #ff6c00;
    width: 600px;
    text-align: left;
}

.event-info-section__text {
    width: 580px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

.event-info-section__hidden-info-block {
    //visibility: hidden;
    width: 580px;
    font-family: 'GothamProLight', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    margin-top: 30px;
    line-height: 16px
}

.event-info-section__info-block {
    position: absolute;
    width: 185px;
    height: auto;
    text-align: left;
}

.event-info-section__info-block--book {
    top: 40px;
    right: 60px;
    width: 200px;
}

.event-info-section__info-block--switcher {
    bottom: 400px;
    right: 100px;
    width: 156px;
}

.info-block__img--book {
    position: relative;
    width: 102px;
    height: 127px;
}

.info-block__img--switcher {
    position: relative;
    width: 34px;
    height: 34px;
}

.info-block__heading {
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #161616;
    text-align: left;
}

.info-block__text {
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
}

.info-block__link {
    position: relative;
    font-family: 'GothamProMedium', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #ff6c00;
}

.event-info-section__img {
    position: absolute;
    bottom: 0;
    right: 170px;
}

.event-info-section__puzzle-block {
    position: relative;
    margin: 45px 0 200px 0;
    width: 705px;
    height: 735px;
}

.puzzle-block__box {
    position: absolute;
    display: block;
    border-width: 7px;
    border-color: #ff6c00;
    border-style: solid;
}

.puzzle-block__box-text {
    display: inline-block;
    width: 80%;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.puzzle-block__box-text--white {
    color: #fff;
}

.puzzle-block__box-number {
    display: inline-block;
    width: 50%;
    color: #ff6c00;
    font-family: 'GothamProBold', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 46px;
}

.puzzle-block__box-number--white {
    color: #fff;
}

.puzzle-block__box--1 {
    width: 226px;
    height: 186px;
    padding-top: 40px;
    top: 0;
    left: 0;
}

.puzzle-block__box--1 .puzzle-block__box-text {
    margin: 5px 0;
}

.puzzle-block__box--2 {
    width: 158px;
    height: 118px;
    padding-top: 30px;
    top: 78px;
    left: 233px;
}

.puzzle-block__box--2 .puzzle-block__box-text {
    margin: 5px 0;
}

.puzzle-block__box--3 {
    width: 226px;
    height: 176px;
    padding-top: 50px;
    top: 0;
    right: 0;
}

.puzzle-block__box--3 .puzzle-block__box-text {
    margin: 5px 0;
}

.puzzle-block__box--4 {
    width: 226px;
    height: 176px;
    padding-top: 50px;
    top: 340px;
    left: 0;
}

.puzzle-block__box--4 .puzzle-block__box-text {
    margin: 5px 0;
    width: 135px;
}

.puzzle-block__box--5 {
    width: 226px;
    height: 181px;
    padding-top: 45px;
    top: 233px;
    left: 233px;
    background-color: #ff6c00;
}

.puzzle-block__box--5 .puzzle-block__box-text {
    margin: 7px 0;
    width: 135px;
}

.puzzle-block__box--6 {
    width: 226px;
    height: 166px;
    padding-top: 60px;
    top: 233px;
    right: 0;
}

.puzzle-block__box--6 .puzzle-block__box-text {
    margin: 5px 0;
    width: 135px;
}

.puzzle-block__box--7 {
    width: 344px;
    height: 75px;
    padding-top: 25px;
    top: 466px;
    left: 233px;
}

.puzzle-block__box--7 .puzzle-block__box-number {
    width: 95px;
}

.puzzle-block__box--7 .puzzle-block__box-text {
    text-align: left;
    width: 200px;
    margin-left: 5px;
}

.puzzle-block__box--8 {
    width: 158px;
    height: 118px;
    padding-top: 30px;
    bottom: 0;
    left: 233px;
}

.puzzle-block__box--8 .puzzle-block__box-text {
    margin: 5px 0;
    width: 135px;
}
/*  ********* Display #3 ********** */

.event-speakers-section {
    position: relative;
}

.event-speakers-section__header {
    position: relative;
    display: block;
    left: 0;
    width: 400px;
    height: auto;
    margin: 115px 0 27px 0;
    text-align: left;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 42px;
}

.event-speakers-section__text {
    position: relative;
    display: block;
    left: 0;
    width: 500px;
    height: auto;
    margin: 5px 0 58px 0;
    padding: 0;
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.speaker-item {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 220px;
}

.speaker-item__photo {
    width: 160px;
    height: 160px;
    margin-bottom: 14px;
}

.speaker-item__name {
    display: block;
    width: 160px;
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.speaker-item__position {
    display: block;
    width: 160px;
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ff6c00;
}
/*  ********* Display #5 ********** */

.event-interactive-area-section {
    position: relative;
}

.event-interactive-area-section__heading {
    margin: 150px 0 0 0;
    padding-top: 0;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: #ff6c00;
    width: 500px;
    text-align: left;
}

.event-interactive-area-section__text {
    position: relative;
    display: block;
    left: 0;
    width: 580px;
    height: auto;
    margin: 25px 0 58px 0;
    padding: 0;
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.event-interactive-area-section__interactive-area-block {
    position: relative;
    display: block;
    border-width: 7px;
    border-color: #dee0e9;
    border-style: solid;
    background-color: #ffffff;
    width: 945px;
    min-height: 205px;
    margin-bottom: 37px;
    clear: both;
}

.event-interactive-area-section__interactive-area-block:last-of-type {
    margin-bottom: 0;
}

.interactive-area-block__pic {
    width: 340px;
}

.event-interactive-area-section__interactive-area-block--right .interactive-area-block__pic {
    float: left;
}

.event-interactive-area-section__interactive-area-block--left .interactive-area-block__pic {
    float: right;
}

.interactive-area-block__pic-img {
    width: 340px;
    min-height: 205px;
    height: 100%;
}

.interactive-area-block__content {
    display: inline-block;
    width: 55%;
    height: 100%;
    text-align: left;
    margin-left: 40px;
}

.interactive-area-block__content-heading {
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 12px;
}

.interactive-area-block__conten-sub-heading {
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
}

.interactive-area-block__content-text {
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
/*  ********* Display #6 ********** */

.event-prices-info-section {
    position: relative;
    background: url(../images/prices_bg.png) 100%;
    background-size: cover;
    padding: 30px 0 0 0;
    box-shadow: inset 0px -16px 51px 0 rgba(0, 0, 0, 0.15);
}

.event-prices-info-section__heading {
    margin: 120px 0 16px 0;
    padding-top: 0;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: #ff6c00;
    width: 500px;
    text-align: left;
    line-height: 40px;
}

.event-prices-info-section__heading:nth-of-type(2) {
    width: 670px;
}

.event-prices-info-section__text {
    text-align: left;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 66px;
}

.event-prices-info-section-block {
    position: relative;
    width: 255px;
    height: 400px;
    display: inline-block;
    text-align: left;
    margin: 0 82px 25px 0;
    overflow: auto;
}

.event-prices-info-section-block__pic {
    display: inline-block;
    position: relative;
    margin-bottom: 35px;
    width: 100%;
    height: 150px;
}

.event-prices-info-section-block__img {
    position: relative;
    bottom: 0;
}

.event-prices-info-section-block:nth-of-type(1) .event-prices-info-section-block__img:nth-of-type(1) {
    position: relative;
    top: 20px;
    width: 103px;
    height: 111px;
}

.event-prices-info-section-block:nth-of-type(3) .event-prices-info-section-block__img:nth-of-type(1) {
    position: relative;
    top: 40px;
    width: 124px;
    height: 94px;
}

.event-prices-info-section-block__heading {
    display: block;
    height: auto;
    margin: 5px 0 15px 0;
    font-family: 'GothamProBold', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.event-prices-info-section-block__text {
    display: block;
    height: auto;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.price-boxes__wrapper {
    display: block;
    width: 738px;
    margin-bottom: 150px;
}

.event-prices-info-section__price-box {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin-right: 52px;
}

.price-box__heading {
    font-family: 'GothamProBold', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 4px;
}

.price-box__sub-heading {
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}

.price-box__top {
    border-left: 7px solid #ff6c00;
    border-top: 7px solid #ff6c00;
    border-right: 7px solid #ff6c00;
    width: 300px;
    height: 210px;
    margin: 0 auto;
}

.price-box__img {
    display: block;
    position: relative;
    left: 100px;
    width: 99px;
    height: 51px;
    margin-top: 54px;
    margin-bottom: 15px;
}

.price-box__text {
    display: inline-block;
    width: 210px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.price-box__middle {
    width: 300px;
    height: 180px;
    border-left: 7px solid #ff6c00;
    border-top: 7px solid #ff6c00;
    border-right: 7px solid #ff6c00;
    padding-top: 20px;
}

.price-box__bottom {
    width: 300px;
    height: 68px;
    border-width: 7px;
    border-color: #ff6c00;
    border-style: solid;
}

.price-box__date {
    display: inline-block;
    width: 115px;
    text-align: left;
    margin-right: 15px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.price-box__price {
    display: inline-block;
    font-family: 'GothamProBold', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ff6c00;
    text-align: left;
    width: 110px;
}

.price-box__button {
    display: inline-block;
    width: 300px;
    height: 41px;
    padding-top: 5px;
    background-color: #ff6c00;
    border-width: 7px;
    border-color: #ff6c00;
    border-style: solid;
    color: #fff;
    text-decoration: none;
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-size: 20px;
}
/*  ********* Display #7 ********** */

.event-orgs-and-partners-section {
    position: relative;
    height: 600px;
    box-shadow: inset 0px -16px 51px 0 rgba(0, 0, 0, 0.25);
}

.backup-block {
    position: relative;
    display: block;
    text-align: left;
    height: 230px;
    padding-top: 228px;
}

.backup-block__heading {
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-size: 42px;
    margin: 0;
}

.backup-block__text {
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 550px;
    margin-bottom: 20px;
}

.backup-block__link {
    text-align: center;
    display: inline-block;
    background-color: #ff6c00;
    width: 186px;
    padding-top: 10px;
    height: 31px;
    color: #fff;
    text-decoration: none;
}

.event-orgs-and-partners-section__flag {
    position: absolute;
    width: 149px;
    height: 309px;
    bottom: 0;
    right: 200px;
}
/*  ********* Display #8 ********** */

.event-contacts-section {
    position: relative;
    padding-top: 50px;
    height: 500px;
}

.event-contacts-section__block-wrapper {
    margin-top: 115px;
    height: 320px;
    width: 880px;
    border-width: 7px;
    border-color: #ff6c00;
    border-style: solid;
}

.event-contacts-section__join-us-block {
    position: relative;
    display: inline-block;
    width: 500px;
    border-right: 7px solid #ff6c00;
    height: 100%;
}

.join-us-block-heading {
    font-family: 'GothamProBlack', 'Helvetica', sans-serif;
    font-size: 42px;
    margin: 50px 0 0 45px;
    text-align: left;
    width: 75%;
}

.join-us-block-text {
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 45px;
    text-align: left;
    width: 75%;
}

.event-contacts-section__coordinator-block {
    position: relative;
    display: inline-block;
    top: -31px;
    width: 355px;
    height: 320px;
}

.coordinator-block__photo {
    position: relative;
    top: -40px;
    left: -40px;
    border-radius: 50%;
    width: 175px;
    height: 171px;
}

.coordinator-block__name {
    display: block;
    position: relative;
    top: -20px;
    width: 200px;
    margin-left: 58px;
    font-family: 'GothamProBold', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
}

.coordinator-block__role {
    display: block;
    position: relative;
    width: 200px;
    margin-left: 58px;
    top: -20px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ff6c00;
    text-align: left;
}

.coordinator-block__phone {
    display: block;
    position: relative;
    width: 200px;
    margin-left: 58px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.coordinator-block__mail {
    display: block;
    position: relative;
    width: 200px;
    margin-left: 58px;
    font-family: 'GothamProRegular', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #000;
    text-decoration: none;
}

.coordinator-block__mail:hover,
.coordinator-block__mail:focus,
.coordinator-block__mail:active {
    color: #ff6c00;
}
