/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .container {
        position: relative;
        width: 1024px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .top-nav__element {
        width: 88px;
    }
    .top-nav__element--registration {
        width: 150px;
    }
    .top-nav__link {
        width: 75px;
        font-size: 14px;
    }
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .container {
        position: relative;
        width: 920px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .top-nav__element {
        width: 88px;
    }
    .top-nav__element--registration {
        width: 150px;
    }
    .top-nav__link {
        width: 75px;
        font-size: 14px;
    }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    .page {
        min-width: 320px;
    }
    .container {
        width: 90%;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        z-index: 999;
        overflow: visible;
        -webkit-transition: height, opacity 0.5s;
        transition: height, opacity 0.5s;
        background-color: #fff;
        box-shadow: 9px 16px 51px 0px rgba(0, 0, 1, 0.15);
    }
    .js-header-shrink {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        z-index: 999;
        overflow: none;
        opacity: 0.85;
    }
    .js-header-shrink:hover,
    .js-header-shrink:focus {
        opacity: 1;
    }
    .header:after {
        clear: none;
    }
    .logo {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        left: 3%;
        float: left;
    }
    .top-nav {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 0;
        top: 85px;
        text-align: center;
        float: none;
    }
    .top-nav-expand {
        position: relative;
        display: block;
        top: 20px;
        height: 500px;
        margin: 0 auto;
        text-align: center;
        z-index: 1000;
        background: url(../images/nav_bg.png);
        clear: both;
    }
    .top-nav__element {
        position: relative;
        display: block;
        width: 90%;
        z-index: 1000;
        margin-bottom: 2px;
        padding-top: 10px;
    }
    .nav-toggle {
        position: relative;
        display: inline-block;
        float: right;
        right: 3%;
    }
    .nav-toggle__btn {
        position: absolute;
        top: 15px;
        right: 0;
    }
    .nav-toggle__btn:before,
    .nav-toggle__btn:after {
        content: "\f039";
        position: absolute;
        display: block;
        color: #000;
        right: -5px;
        top: 10px;
        padding: 0 8px;
        font-family: FontAwesome;
        font-size: 35px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        z-index: 1000;
    }
    .top-nav__link {
        display: none;
        border-width: 4px;
        font-weight: 500;
        font-size: 18px;
    }
    .top-nav__link:hover,
    .top-nav__link:focus,
    .top-nav__link:active {
        border-width: 4px;
        border-color: #fff;
        border-style: solid;
    }
    .top-nav__element--registration {
        border-color: transparent;
        display: none;
    }
    .top-nav__link--mob {
        display: inline-block;
        width: 150px;
        color: #fff;
    }
    .top-nav__element--reg-mob {
        position: relative;
        display: inline-block;
        list-style: none;
        text-align: center;
        top: 5px;
        float: none;
        right: none;
        border: none;
        border-color: transparent;
        background-color: #fff;
        border-style: solid;
        border-width: 4px;
        color: #000;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 40px;
    }
    .top-nav__link--registration {
        display: inline-block;
        font-family: 'GothamProBlack', 'Helvetica', sans-serif;
        font-weight: 500;
        font-size: 14px;
        width: 100%;
        height: 100%;
        color: #000;
        line-height: 40px;
        text-decoration: none;
    }
    .button--orange:before {
        background: #ff6c00;
    }
}
