/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .container {
        position: relative;
        width: 1024px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .top-nav__element {
        width: 88px;
    }
    .top-nav__link {
        width: 75px;
        font-size: 14px;
    }
    .top-nav__element--registration {
        position: relative;
        display: inline-block;
        list-style: none;
        text-align: center;
        top: 5px;
        float: right;
        right: 15px;
        border: none;
        border-color: #ff6c00;
        background-color: #ff6c00;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 40px;
    }
    .top-nav__link--registration {
        display: inline-block;
        font-family: 'GothamProBlack', 'Helvetica', sans-serif;
        font-weight: 500;
        font-size: 14px;
        width: 100%;
        height: 100%;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
    }
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .container {
        position: relative;
        width: 920px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .top-nav__element {
        width: 88px;
    }
    .top-nav__element--registration {
        width: 150px;
    }
    .top-nav__link {
        width: 75px;
        font-size: 14px;
    }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 1140px) {
    .page {
        min-width: 320px;
    }
    .container {
        width: 90%;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        z-index: 999;
        overflow: visible;
        -webkit-transition: height, opacity 0.5s;
        transition: height, opacity 0.5s;
        background-color: #fff;
        box-shadow: 9px 16px 51px 0px rgba(0, 0, 1, 0.15);
    }
    .js-header-shrink {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        z-index: 10000;
        overflow: visible;
        opacity: 0.85;
    }
    .js-header-shrink:hover,
    .js-header-shrink:focus {
        opacity: 1;
    }
    .js-header-shrink .logo {
        margin-top: 7px;
    }
    .js-header-shrink .logo__img {
        width: 110px;
        height: 30px;
    }
    .js-header-shrink .top-nav__element {
        width: 80px;
        bottom: 12px;
    }
    .js-header-shrink .top-nav__link {
        width: 70px;
        height: 25px;
        font-size: 12px;
        line-height: 25px;
        vertical-align: top;
    }
    .header:after {
        clear: none;
    }
    .logo {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        left: 3%;
        float: left;
    }
    .top-nav {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 0;
        top: 85px;
        text-align: center;
        float: none;
    }
    .top-nav-expand {
        position: fixed;
        display: block;
        top: 85px;
        height: 450px;
        margin: 0 auto;
        text-align: center;
        z-index: 1000;
        background: url(../images/nav_bg.png);
    }
    .js-header-shrink .top-nav-expand {
        top: 45px;
        overflow: visible;
        height: 350px;
    }
    .top-nav__element,
    .js-header-shrink .top-nav__element {
        position: relative;
        display: block;
        width: 90%;
        z-index: 1000;
        margin-bottom: 2px;
        padding-top: 10px;
    }
    .nav-toggle {
        position: relative;
        display: inline-block;
        float: right;
        right: 3%;
    }
    .nav-toggle__btn {
        position: absolute;
        top: 15px;
        right: 0;
    }
    .nav-toggle__btn:after {
        content: "\f039";
        position: absolute;
        display: block;
        color: #000;
        right: -5px;
        top: 10px;
        padding: 0 8px;
        font-family: FontAwesome;
        font-size: 35px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        z-index: 1000;
    }
    .nav-form__btn {
        display: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        width: 50px;
        height: 50px;
        color: #000;
        position: absolute;
        top: 12px;
        right: 45px;
    }
    .nav-form__btn:after {
        content: "\f044";
        position: absolute;
        display: block;
        color: #000;
        right: -5px;
        top: 11px;
        padding: 0 8px;
        font-family: FontAwesome;
        font-size: 39px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        z-index: 1000;
    }
    .js-header-shrink .nav-form__btn,
    .js-header-shrink .nav-toggle__btn {
        width: 40px;
        height: 30px;
        top: 12px;
    }
    .js-header-shrink .nav-form__btn:after,
    .js-header-shrink .nav-toggle__btn:after {
        font-size: 30px;
        top: 0;
    }
    .top-nav__link {
        display: none;
        border-width: 2px;
        font-weight: 500;
        font-size: 15px;
    }
    .top-nav__link:hover,
    .top-nav__link:focus,
    .top-nav__link:active {
        border-width: 2px;
        border-color: #fff;
        border-style: solid;
    }
    .top-nav__element--registration {
        display: none;
    }
    .js-header-shrink .top-nav__element--registration {
        display: none;
    }
    .top-nav__link--mob {
        display: inline-block;
        width: 150px;
        color: #fff;
        font-size: 16px;
    }
    .js-header-shrink .top-nav__link--mob {
        display: inline-block;
        width: 150px;
        color: #fff;
        font-size: 15px;
    }
}
