body
{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
}

.reviews
{
    display: inline-block;

    width: 100%;
    padding-top: 58px;
    padding-bottom: 79px;

    text-align: center;

    background: url(img/bg.png);
    background-size: contain;
}

.reviews__header
{
    font: 400 40px / 18px 'Trebuchet MS', sans-serif;

    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;

    color: #3170a8;
}

.reviews__header__emphasized
{
    color: #ee8129;
}

.reviews__item
{
    display: inline-block;

    margin: auto;
    margin-top: 51px;

    text-align: left;
}

.reviews__item__img
{
    position: relative;

    width: 98px;
    height: 99px;
    margin-right: 22px;
}

.reviews__item__content
{
    position: relative;
    bottom: 11px;

    display: inline-block;

    max-width: 363px;
    margin-right: 43px;

    border: 1px solid #fff;
    background-color: #fff;
}

/* Honestly - I've tried to make content flexible in the right way,
but pseudo-triangle-made-from-border ruined all completely with his
absolute position. I don't know how to fix this stuff :(
*/


.reviews__item__content:after,
.reviews__item__content:before
{
    position: absolute;
    top: 35px;
    right: 360px;

    width: 0;
    height: 0;

    content: '';
    pointer-events: none;

    border: solid transparent;
}

.reviews__item__content:after
{
    margin-top: -15px;

    border-width: 15px;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
}

.reviews__item__content:before
{
    margin-top: -16px;

    border-width: 16px;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
}

.reviews__item__content__heading
{
    font: 700 italic 13px / 24px 'Trebuchet MS', sans-serif;

    overflow: hidden;

    margin: 13px 20px 0 16px;
    padding-bottom: 2px;

    color: #3070a8;
    border-bottom: 1px dashed #666;
}

.reviews__item__content__heading__name
{
    display: inline;
    float: left;
}

.reviews__item__content__heading__name:before
{
    width: 0;
    height: 0;

    content: '- ';
    pointer-events: none;
}

.reviews__item__content__heading__type
{
    display: inline;
    float: right;
}

.reviews__item__content__text
{
    font: 500 13px / 20px 'Trebuchet MS', sans-serif;

    margin: 12px 20px 4px 16px;

    color: #666;
}
