.page {
    padding: 0;
    margin: 0 auto;
    border: 0;
    background: #fff;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 100;
    color: #000;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.container {
    position: relative;
    width: 990px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: left;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: url(../images/background_top.jpg) 50% 50%;
    background-size: cover;
    border-bottom: 1px solid #fff;
}

.logo {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    float: left;
    clear: both;
}

.logo__img {
    width: 164px;
    height: 50px;
}

.logo__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.top-nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 800px
}

.top-nav__element {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-right: 30px;
    padding-top: 10px;
    list-style: none;
    text-align: center;
}

.top-nav__element-toggle {
    display: none;
}

.top-nav__btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.top-nav__btn:before,
.top-nav__btn:after {
    content: "\f039";
    position: absolute;
    display: none;
    color: #fff;
    right: 51px;
    padding: 0 8px;
    font-family: FontAwesome;
    font-size: 28px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.top-nav__btn:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.top-nav__btn:hover:after,
.top-nav__btn:active:after {
    -webkit-animation-name: icon-float-away;
    animation-name: icon-float-away;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}

@keyframes icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}

.top-nav__link {
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    height: 45px;
    line-height: 38px;
}

.top-nav__link:before,
.top-nav__link:after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.top-nav__link:before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.top-nav__link:after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.top-nav__link:hover:before,
.top-nav__link:hover:after,
.top-nav__link:focus:before,
.top-nav__link:focus:after {
    opacity: 1;
}

.top-nav__link:hover:before,
.top-nav__link:focus:before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.top-nav__link:hover:after,
.top-nav__link:focus:after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}

.top-info {
    position: relative;
    margin: 0 auto 20px auto;
    height: 125px;
    background: #fff;
    padding: 120px 0 50px 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 26px;
    background: #f8f8f8;
}

.top-info__text {
    display: inline-block;
    margin-bottom: 5px;
    width: 700px;
}

.top-info__text:nth-child(1) {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.top-info__text:last-child {
    margin-bottom: 120px;
}

.block-header {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    padding: 15px 0 15px 0;
}

.for-tester {
    position: relative;
    background: #fff;
}

.for-tester-block {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
}

.for-tester-block__img {
    width: 94px;
    height: 94px;
}

.block-list {
    list-style: none;
    text-align: left;
    height: 120px;
    font-size: 16px;
}

.block-list--arrow {
    position: relative;
    left: -200px;
    margin: 50px 0 30px 15px;
    list-style: none;
    text-align: left;
    height: 150px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

.block-list__item {
    position: relative;
    margin-bottom: 5px;
}

.block-list__item--arrow {
    margin-bottom: 20px;
}

.block-list__item:before {
    content: '';
    position: absolute;
    background: #FE5A00;
    top: 5px;
    left: -15px;
    height: 6px;
    width: 6px;
    border-radius: 50%
}

.for-tester-block__text {
    width: 290px;
    height: auto;
    font-size: 21px;
    overflow: hidden;
    font-weight: 400;
}

.arrow {
    height: 250px;
    margin: 20px 0 50px 0;
    position: relative;
}

.arrow__background {
    position: relative;
    height: 250px;
    width: 85%;
    background: #f8f8f8;
}

.arrow__background:after {
    position: absolute;
    top: 0;
    right: -120px;
    height: 0;
    content: '';
    border-width: 125px 0 125px 120px;
    border-style: solid;
    border-color: transparent transparent transparent #f8f8f8;
    z-index: 997;
}

.arrow__content {
    position: absolute;
    top: 15px;
    right: 15%;
    z-index: 998;
    margin: 0;
    line-height: 25px;
}

@media only screen and (max-width: 1220px) {
    .org-block__content {
        right: 25%;
    }
}

@media only screen and (max-width: 1080px) {
    .org-block__content {
        right: 8%;
    }
}

.arrow__picture {
    display: inline-block;
    margin: 0 25px 0 10px;
    width: 220px;
    height: 220px;
}

.arrow__picture-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.arrow__text {
    display: inline-block;
    position: relative;
    top: 0;
    width: 780px;
    font-size: 15px;
    line-height: 18px;
    vertical-align: top;
    text-align: left;
    z-index: 998;
}

.event-schedule-wrapper {
    background: url(../images/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 50px 0;
    margin-bottom: 50px;
}

.event-schedule__block {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 10px 0 20px 0;
    margin-bottom: 50px;
    height: 550px;
    clear: both;
}

.event-schedule__block-header {
    font-size: 18px;
}

.event-schedule__block-sub-header {
    font-size: 18px;
    font-weight: 400;
}

.event-schedule__block__inner-column {
    height: auto;
    margin: 0 10px 0 10px;
}

.event-schedule__block__inner-column-left {
    float: left;
    width: 45%;
}

.event-schedule__block__inner-column-right {
    float: right;
    width: 45%;
}

.event-plan {
    text-align: left;
}

.event-plan__header {
    font-size: 18px;
}

.event-plan__item {
    font-size: 16px;
    margin-bottom: 2px;
}

.emphasized {
    font-weight: 700;
    font-style: normal;
}

.prices {
    background: url(../images/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 50px 0;
    margin-bottom: 50px;
}

.prices-block {
    background: #fff;
    display: inline-block;
    width: 300px;
    height: 280px;
    margin: 20px 10px;
}

.prices-block__heading {
    font-size: 15px;
    text-transform: uppercase;
}

.prices-block__sub-heading {
    width: 250px;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.prices-block__text {
    font-size: 17px;
}

.prices-block__text:nth-of-type(1) {
    margin-top: 40px;
}

.prices-block__text:nth-of-type(2) {
    font-size: 14px;
}

.prices-additional {
    margin-left: 20px
}

.prices-additional__text {
    font-size: 16px;
    font-weight: 500;
}

.prices-additional__text-big {
    font-size: 20px;
}

.prices__buy-button {
    display: inline-block;
    width: 300px;
    height: 40px;
    color: #ff6e00;
    background: #f8f8f8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-radius: 1px;
    outline: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.prices__buy-button:hover,
.prices__buy-button:active,
.prices__buy-button:focus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: perspective(1px) scale(1.1);
    border-radius: 1px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
}

.contacts {
    position: relative;
    width: 100%;
    height: 345px;
    margin: 0 auto;
    background: #f8f8f8;
}

.contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 70%;
    height: 345px;
}

.contacts__credentials {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    display: inline-block;
    height: 345px;
    margin: 0 auto;
}

.contacts__content {
    display: inline-block;
    position: relative;
    width: 300px;
    margin: 85px 200px;
}

.contacts__heading {
    font-size: 20px;
}

.contacts__text {
    font-size: 18px;
}

.manager-contacts {
    display: block;
    margin: 40px 0 40px 0;
}

.manager-contacts__photo-block {
    position: relative;
    margin-top: 20px;
    display: inline-block;
    height: 170px;
}

.manager-contacts__img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.manager-contacts__text-block {
    position: relative;
    top: -30px;
    margin-left: 15px;
    display: inline-block;
    text-align: left;
    height: 170px;
}

.manager-contacts__name {
    font-size: 20px;
    margin: 0;
}

.manager-contacts__position {
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.manager-contacts__tel {
    display: block;
    margin: 15px 0;
}

.manager-contacts__link {
    position: relative;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #ff6e00;
    font-weight: 600;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-property: color;
    transition-property: color;
}

.manager-contacts__link:hover,
.manager-contacts__link:focus,
.manager-contacts__link:active {
    color: #9eadc4;
}

.manager-contacts__link-mail:after {
    content: '\f0e0';
    position: absolute;
    display: none;
    right: 6px;
    top: 4px;
    font-family: FontAwesome;
    font-size: 13px;
}

.manager-contacts__link-mail:hover:after {
    display: block;
}

.footer {
    height: 30px;
    background: url(../images/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 20px 0 60px 0;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.footer__block {
    display: inline-block;
    width: 650px;
    margin-left: 30px;
}

.footer__logo {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 40px;
    margin-right: 50px;
}

.footer__logo:after {
    position: absolute;
    top: -10px;
    left: 170px;
    width: 1px;
    height: 60px;
    content: '';
    background-color: #b44c01;
}

.footer__logo-img {
    width: 140px;
    height: 40px;
}

.footer__credits {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    height: 40px;
    width: 420px;
    vertical-align: super;
    line-height: 21px;
    text-align: left;
}

.footer__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-property: color;
    transition-property: color;
    letter-spacing: 1px;
}

.footer__link:after {
    content: '\f0e0';
    position: absolute;
    display: none;
    right: -16px;
    top: -1px;
    font-family: FontAwesome;
    font-size: 12px;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
    color: #fff;
}

.footer__link:hover:after,
.footer__link:focus:after,
.footer__link:active:after {
    display: block;
}

.bottom-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: url(../images/nav_bg.png);
    z-index: 999;
}

.bottom-nav-expand {
    display: none;
}

.bottom-nav__element {
    position: relative;
    left: -25px;
    display: inline-block;
    width: 175px;
    height: 60px;
    margin-right: 10px;
    list-style: none;
    padding-bottom: 10px;
    text-align: center;
}

.bottom-nav__element-toggle {
    display: none;
}

.bottom-nav__link {
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 21px;
    color: #FFF;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.bottom-nav__link-1:before {
    content: "\f0a9";
    position: absolute;
    right: 0;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-2:before {
    content: "\f0a9";
    position: absolute;
    right: 1px;
    padding: 0 20px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-3:before {
    content: "\f0a9";
    position: absolute;
    right: -12px;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-4:before {
    content: "\f0aa";
    position: absolute;
    right: 1px;
    padding: 0 15px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-5:before {
    content: "\f0a9";
    position: absolute;
    right: 1px;
    padding: 0 8px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.bottom-nav__btn:before,
.bottom-nav__btn:after {
    content: "\f039";
    position: absolute;
    display: none;
    color: #fff;
    right: 51px;
    padding: 0 8px;
    font-family: FontAwesome;
    font-size: 28px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__btn:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.bottom-nav__btn:hover:after,
.bottom-nav__btn:active:after {
    -webkit-animation-name: icon-float-away;
    animation-name: icon-float-away;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}

@keyframes icon-float-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
    }
}

.bottom-nav__link-1:hover:before,
.bottom-nav__link-1:active:before,
.bottom-nav__link-2:hover:before,
.bottom-nav__link-2:active:before,
.bottom-nav__link-3:hover:before,
.bottom-nav__link-3:active:before,
.bottom-nav__link-4:hover:before,
.bottom-nav__link-4:active:before,
.bottom-nav__link-5:hover:before,
.bottom-nav__link-5:active:before {
    -webkit-animation-name: icon-pulse-grow;
    animation-name: icon-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

.delay-01s {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
