p:first-letter
{
    font-size: 30px;
    font-weight: bold;

    color: red;
}

h1
{
    font-weight: bold;

    text-align: right;

    color: orange;
}

em
{
    font-weight: bold;

    color: #fff;
    background-color: green;
}

#allotment ul > li,
#warehouse ul > li
{
    font-weight: bold;
}

#allotment h2
{
    font-weight: bold;

    color: orange;
}

#warehouse h2
{
    font-weight: bold;

    color: blue;
}

#allotment .fruits-list
{
    color: gray;
}

#warehouse .fruits-list
{
    color: green;
}

.fruits-list,
.vegetables-list
{
    font-weight: normal;
}

.vegetables-list
{
    color: red;
}

.students-table thead
{
    font-weight: bold;

    text-align: center;
}

.students-table tbody td:first-of-type
{
    font-weight: bold;

    color: orange;
}

.students-table tbody td:nth-child(1n+2)
{
    text-align: center;

    color: white;
    background: green;
}
