body {
    background: rgb(250, 250, 250);
}

h1 {
    text-align: center;
    color: rgb(161, 58, 209);
    font-size: 20px;
    margin-top: 20%;
}

.container {
    color: rgb(161, 58, 209);
    font-family: monospace;
    font-size: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.controls {
    cursor: pointer;
    font-size: 8px;
    height: 20px;
}

.pages {
    display: inline;
    margin: 0 25px 10px 10px;
}

.pages a {
    display: inline-block;
    border: solid 1px #ddd;
    padding: 7px 8px 7px 8px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 8px;
}

.pages a {
    color: rgb(161, 58, 209);
}

.pages a:hover {
    background-color: rgb(161, 58, 209);
    color: white;
}


.pages span {
    color: black;
    vertical-align: bottom;
}

a.chosen  {
    background-color: rgb(161, 58, 209);
    color: white;
}

.controls_first,
.controls_prev {
    float: left;
    margin-top: 5px;
    padding-right: 15px;
    text-transform: uppercase;
}

.controls_first:before,
.controls_prev:before {
    content: "«";
    font-size: 12px;
    padding-right: 2px;
}

.controls_next,
.controls_last {
    float: right;
    margin-top: 5px;
    padding-right: 15px;
    text-transform: uppercase;
}

.controls_next:after,
.controls_last:after {
    content: "»";
    font-size: 12px;
    padding-left: 2px;
}
