@charset='utf-8';
a:link[href*='://']
{
    color: #f70;
}

a:link[href*='google']
{
    color: #666;
}

a:link[target='_blank']:after
{
    font-family: Cambria;

    position: absolute;

    margin-left: 5px;

    content: '\21F1';
    transform: rotate(90deg);

    color: #f70;
}
@charset="utf-8";
a:link[href*="://"] {
    color: #f70;
}

a:link[href*="google"] {
    color: #666;
}

a:link[target="_blank"]:after {
    font-family:Cambria;
    content: '\21F1';
    margin-left: 5px;
    position: absolute;
    color: #f70;
    transform: rotate(90deg);
}
