@media only screen and (max-width: 814px) {
    .container {
        width: 320px;
    }

    .logo__img {
        width: 320px;
        height: 100%;
    }
    .top-info__text {
        display: inline-block;
        margin-bottom: 5px;
        width: 300px;
    }
    .top-info {
        height: 200px;
        font-size: 20px;
    }
    .block-header {
        font-size: 35px;
    }

    .for-startup {
padding-bottom: 50px;
}


    .for-startup__text {
        font-size: 22px;
        line-height: 25px;
        width: 300px;
        margin: 10px;
    }
    .for-startup-block {
        display: block;
        width: 300px;
        height: 260px;
        text-align: center;
        margin: 35px 10px;
        overflow: hidden;
        text-align: center;
        padding: 35px 0 0 0;
        background: #fff;
        overflow: hidden;
    }
    .for-startup-block__text {
        width: 300px;
        height: 100px;
        font-size: 20px;
    }
    .for-tester__reg-button,
    .for-startup__reg-button {
        display: block;
        width: 280px;
        margin: 50px 20px;
    }

    .for-startup__reg-button {
    margin-bottom: 50px;

    }

    .org-block {
        width: 100%;
        height: 280px;
        margin-top: 30px;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }
    .org-block__arrow {
  display: none;
    }
    .org-block__arrow:after {
        display: none;
    }
    .org-block__content {
        width: 300px;
        position: static;
        text-align: center;
        margin: 0 auto;
    }
    .org-block__logo {
        display: block;
        margin: 20px 0 0 0;
        width: 300px;
        height: 70px;
    }

    .org-block__text {
    display: inline-block;
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin: 40px 10px 0 10px;
}


 .partners-block {
        position: relative;
        height: 750px;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        background: #f8f8f8;
    }
    .partners-block__text {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        height: 50px;
        font-size: 20px;
    }
    .row {
        text-align: center;
        margin: 0;
    }
    .partners-block__link {
        display: block;
        margin: 20px 10px 20px 0;
    }

    .partners-block__logo {
    height: 55px;

}

    .partners-block__text-invisible {
        display: none;
    }

.manager-contacts__text-block {
    position: relative;
    top: 0;
    display: inline-block;
    height: 170px;
    text-align: center;
}

    .manager-contacts__text {
    margin-left: 20px;
    width: 300px;
    font-size: 18px;
        margin: 10px; 10px;
}

    .manager-contacts__link {
    top: 0;
    margin: 0 0 0 -10px;
    font-size: 18px;
    text-decoration: none;
    color: #ff6e00;
    font-weight: 600;
}


    .staff {
padding-bottom: 250px;
}



.staff-item {
    display: inline-block;
    width: 155px;
    height: 245px;
    margin: 0;
    overflow: hidden;
}

    .staff-item-leaders {
    display: inline-block;
    width: 190px;
    margin: 0;
}

    .bottom-nav {
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 0;
    background: url(../images/nav_bg.png);
    z-index: 999;
}

    .bottom-nav__element {
    position: relative;
    display: block;
    width: 250px;
    height: 30px;
    list-style: none;
    padding-bottom: 5px;
        margin-bottom: 15px;
    text-align: left;
}


.bottom-nav__link {
    width: 100%;
    height: 100%;
    display: block;
    font-family: HSPlight, Arial;
    font-size: 21px;
    color: #FFF;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

    .bottom-nav__link-1:before {
    content: "\f0a9";
    position: absolute;
    right: 0;
    padding: 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-2:before {
    content: "\f0a9";
    position: absolute;
    right: 0;
    padding: 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-3:before {
    content: "\f0a9";
    position: absolute;
    right: 0;
    padding: 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bottom-nav__link-4:before {
    content: "\f0aa";
    position: absolute;
    right: 0;
    padding: 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



}

@media only screen and (min-width: 815px) and (max-width: 1010px) {
    .container {
        width: 750px;
    }
    .for-tester-block {
        display: inline-block;
        width: 200px;
        height: 280px;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        margin-top: 45px;
    }
    .for-tester-block__text {
        width: 185px;
        height: 150px;
        font-size: 20px;
    }
    .for-startup-block {
        display: inline-block;
        width: 230px;
        height: 280px;
        text-align: center;
        margin: 35px 5px;
    }
    .for-startup-block__text {
        width: 220px;
        height: 100px;
        font-size: 20px;
        padding: 0 5px;
    }
    .org-block__content {
        position: absolute;
        top: 20px;
        right: 15%;
        z-index: 999;
        margin: 0;
    }
    .org-block__logo {
        display: inline-block;
        margin: 0 25px 0 0;
        width: 240px;
        height: 70px;
    }
    .org-block__text {
        display: inline-block;
        width: 350px;
        font-size: 20px;
    }
    .partners-block {
        position: relative;
        height: 450px;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        background: #f8f8f8;
    }
    .partners-block__text {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 0;
        vertical-align: middle;
    }
    .row {
        text-align: center;
        margin: 0 0 20px 0;
    }
    .partners-block__link {
        margin: 10px 5px 5px 0;
    }

.partners-block__logo {
    height: 50px;

}


    .partners-block__text-invisible {
        display: none;
    }
    .staff {
        padding-bottom: 60px;
    }
    .staff .block-header {
        padding: 35px 0 30px 0;
    }
    .staff-item {
        display: inline-block;
        width: 200px;
        height: 215px;
        margin: 1px 2px;
        overflow: hidden;
    }
    .staff-item-leaders {
        display: inline-block;
        width: 190px;
        margin: 35px 15px;
    }
    .bottom-nav {
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;
        background: url(../images/nav_bg.png);
        z-index: 999;
    }
    .bottom-nav__element {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 40px;
        list-style: none;
        padding-bottom: 0;
        text-align: center;
    }
    .bottom-nav__link {
        width: 180px;
        height: 40px;
        display: block;
        font-family: HSPlight, Arial;
        font-size: 18px;
        color: #FFF;
        text-decoration: none;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
    }
}
