/* I put part of my soul into this:) */

/* 320px (iPhone) */
@media screen and (max-width:320px) {
    .header {
        background-color: #f2f2f2;
        background-image: none;
        height:30px;
        padding:10px;
    }
    .logo, .moto {
        display: none;
    }
    .logo_mobile {
        display:inline-table;
        width:280px;
        height:80px;
    }
    .moto_mobile_wrapper {
        display: inline-block;
        margin-top:0;
        padding-left: 20px;
        color:#8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    .progress {
        display: none;
    }
    .credit p, .legals {
        text-align: center;
        font-size: 10px;
    }
    .intro {
        padding-bottom:15px;

    }

    .wrapper {
        height: 700px;
    }

    .highlighted,
    .language_selector,
    .language_selector:hover,
    .language_selector:focus,
    .language_selector:active {
        font-size:100%;
    }
}

/* 320px (iPhone) (landscape)  */
@media only screen
and (min-width : 320px)
and (max-width:640px){
    .logo, .moto {
        display: none;
    }
    .logo_mobile {
        display:inline-table;
        width:280px;
        height:80px;
    }
    .moto_mobile_wrapper {
        display: block;
        margin-top:0;
        padding-left: 20px;
        color:#8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    .progress { display: none; }

    .header {
        background-color: #f2f2f2;
        background-image: none;
        height:30px;
        padding:10px;

    }

    .intro {
        padding-bottom:15px;

    }

    .wrapper {
        height: 700px;
    }

    #responsive {

        padding-bottom: 35px;
    }

    .highlighted,
    .language_selector {
        font-size:100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .logo, .moto {
        display: none;
    }
    .logo_mobile {
        display:inline-table;
        width:280px;
        height:80px;
    }
    .moto_mobile_wrapper {
        display: block;
        margin-top:0;
        padding-left: 20px;
        color:#8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    .progress { display: none; }

    .intro {
        padding-bottom:100px;

    }

    .highlighted,
    .language_selector {
        font-size:100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1010px) {
    .logo, .moto {
        display: none;
    }
    .logo_mobile {
        display:inline-table;
        width:280px;
        height:80px;
    }
    .moto_mobile_wrapper {
        display: block;
        margin-top:0;
        padding-left: 20px;
        color:#8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    .progress { display: block; }

    .wp3 {
        //     background-position: -210px 0;
        background-attachment: scroll;
    }

    .intro {
        padding-bottom:100px;

    }
}

@media screen and (min-device-width: 600px) and (max-device-width: 991px) {
    .logo, .moto {
        display: none;
    }
    .logo_mobile {
        display:inline-table;
        width:280px;
        height:80px;
    }
    .moto_mobile_wrapper {
        display: block;
        margin-top:0;
        padding-left: 20px;
        color:#8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    .progress { display: none; }

    .intro {
        padding-bottom:100px;

    }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1010px) {
    .logo, .moto {
        display: none;
    }
    .logo_mobile {
        display:inline-table;
        width:280px;
        height:80px;
    }
    .moto_mobile_wrapper {
        display: block;
        margin-top:0;
        padding-left: 20px;
        color:#8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    .progress { display: block; }

    .wp3 {
        //     background-position: -210px 0;
        background-attachment: scroll;
    }


    .intro {
        padding-bottom:100px;

    }
}

@media screen and (min-width:1011px) and (max-width: 1336px) {
    .wp3 {
        //     background-position: -210px 0;
        background-attachment: scroll;
    }

    .logo_mobile {
        display:none;
    }
    .moto_mobile_wrapper {
        display: none;
    }
    .progress {
        display: block;
    }


    .logo {
        display:block;
        padding-left: 20px;
        width:400px;
        height:100px;
    }

    .moto {
        display:block;
        padding-left:120px;
        margin:0;

    }
}

/*  large resolutions */
@media only screen and (min-width:1536px)
{

    //  .wp3 {
    //       background-position: 0px 0px;
    //   }
    #header {
        height: 1100px;
    }

    .logo {
        //padding-left: 100px;
        padding-top: 70px;
        width: 700px;
        height:245px;
    }
    .moto {
        font-size: 25px;
        padding-left: 220px;

    }
}

/*  large resolutions */
@media only screen and (min-width:1680px)
{

    //  .wp3 {
    //       background-position: 0px 0px;
    //   }
    #header {
        height: 1000px;
    }

    .logo {
        padding-left: 50px;
        padding-top: 50px;
        width: 750px;
        height:230px;
    }
    .moto {
        font-size: 25px;
        padding-left: 250px;

    }
}

/*  larger resolutions */
@media only screen and (min-width:1920px)  {

    //  .wp3 {
    //       background-position: 0px 0px;
    //   }
    #header {
        height: 1000px;
    }

    .logo {
        padding-left: 150px;
        padding-top: 100px;
        width: 820px;
        height:280px;
    }
    .moto {
        font-size: 25px;
        padding-left: 335px;

    }
}

/*  even larger resolutions */
@media only screen and (min-device-width:2560px)  {

    //  .wp3 {
    //       background-position: 0px 0px;
    //   }
    #header {
        height: 1500px;
    }

    .logo {
        padding-left: 200px;
        padding-top: 200px;
        width: 1000px;
        height:420px;
    }
    .moto {
        font-size: 25px;
        padding-left: 450px;

    }
}

/* and larger resolutions */
@media only screen and (min-device-width:2048px) {

    //  .wp3 {
    //      background-position: 200px 0px;
    //  }
    #header {
        height: 1000px;
    }
    .logo {
        padding-left: 100px;
        width:800px;
        height:320px;
    }
    .moto {
        font-size: 25px;
        padding-left: 280px;

    }

    /*  even larger resolutions */
    @media only screen and (min-device-width:2560px)  {

        //  .wp3 {
        //       background-position: 0px 0px;
        //   }
        #header {
            height: 1500px;
        }

        .logo {
            padding-left: 200px;
            padding-top: 200px;
            width: 1000px;
            height:420px;
        }
        .moto {
            font-size: 25px;
            padding-left: 450px;

        }
    }
}

