body {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    font-family: sans-serif;
    margin-left: 15px;
    padding: 0;
}

label {
    font-size: 30px;
}

#glasses:checked + label + div {
    text-shadow: none;
    color: black;
}

.sivtsev {
    width: 400px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 5px #555;
    white-space: nowrap;
}

.sivtsev p {
    text-align: justify;
    line-height: 15px;
}

.sight01 {
    margin-top: 45px;
    font-size: 98px;
    letter-spacing: 115px;
    margin-bottom: 130px;
}

.sight02 {
    font-size: 88px;
    letter-spacing: 42px;
    margin-bottom: 120px;
}

.sight03 {
    font-size: 78px;
    letter-spacing: 15px;
    margin-bottom: 100px;
}

.sight04 {
    font-size: 68px;
    letter-spacing: 10px;
    margin-bottom: 90px;
}

.sight05 {
    font-size: 58px;
    letter-spacing: 15px;
    margin-bottom: 80px;
}

.sight06 {
    font-size: 48px;
    letter-spacing: 12px;
    margin-bottom: 65px;
}

.sight07 {
    font-size: 38px;
    letter-spacing: 18px;
    margin-bottom: 45px;
}

.sight08 {
    font-size: 27px;
    letter-spacing: 18px;
    margin-bottom: 35px;
}

.sight09 {
    font-size: 18px;
    letter-spacing: 23px;
    margin-bottom: 30px;
}

.sight10 {
    font-size: 13px;
    letter-spacing: 21px;
    margin-bottom: 15px;
}

.sight15 {
    font-size: 10px;
    letter-spacing: 23px;
    margin-bottom: 25px;
}

.sight20 {
    font-size: 8px;
    letter-spacing: 24px;
}

.uline {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(255, 0, 0, 0.20);
    -moz-box-shadow: 0px 1px 1px 1px rgba(255, 0, 0, 0.20);
    box-shadow: 0px 1px 1px 1px rgba(255, 0, 0, 0.20);
}
