.page {
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
}

.container {
    position: relative;
    width: 990px;
    margin: 0 auto;
    padding: 0;
}

.container-border {
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
}

.header {
    width: 100%;
}

.header-top {
    width: 100%;
    height: 78px;
    color: #fff;
    background-color: #3498db;
}

.header-middle {
    width: 100%;
    padding: 75px 0 54px 0;
    color: #fff;
    background: url('../img/header_bg.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.header-middle__heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 42px;
    margin: 0;
    margin-bottom: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

.header-middle__heading_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    width: 550px;
    text-align: left;
    color: #fff;
}

.header-bottom {
    padding: 35px 0 40px 0;
    background-color: #f2f2f2;
}

.header-bottom__heading {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #333;
}

.header-bottom__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 570px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    white-space: pre-wrap;
    color: #333;
}

.header-form-block {
    position: absolute;
    top: -570px;
    right: 0;
    width: 360px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid #3498db;
    background-color: #fff;
}

.header-form__heading {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.header-form__input {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    width: 302px;
    height: 32px;
    margin-bottom: 10px;
    padding-left: 16px;
    text-align: left;
    border: 1px solid #e6e6e6;
    outline: 0;
    background-color: #f2f2f2;
}

#header-form_select {
    line-height: 35px;
    position: relative;
    display: inline-block;
    height: 34px;
    cursor: pointer;
    background-color: #f2f2f2;
}

#header-form_select:after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 17px;
    height: 11px;
    content: ' ';
    background: url(../img/spritesheet.png);
    background-position: -47px -5px;
}

#header-form_adress {
    line-height: 20px;
    display: inline-block;
    overflow: auto;
    height: 64px;
    margin-bottom: 6px;
    padding-top: 10px;
    outline: none;
    background-color: #f2f2f2;
}

.header-form__submit {
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    width: 220px;
    height: 50px;
    margin: 16px 0 0 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #e74c3c;
}

.logo {
    position: relative;
    display: inline-block;
    display: block;
    float: left;
    width: 400px;
    height: 55px;
}

.logo__link {
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    height: 45px;
    margin: 15px 0 0 13px;
    padding: 10px 0 13px 53px;
    white-space: pre-line;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.logo__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 53px;
    height: 53px;
    margin-top: 13px;
}

.social {
    line-height: 20px;
    position: relative;
    float: right;
    width: 200px;
    height: 55px;
    margin-top: 34px;
    text-align: right;
    color: #fff;
}

.social__text {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.social__link {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
}

.social__link:last-of-type {
    margin-right: 0;
}

.social__link_fb {
    width: 22px;
    height: 21px;
    background: url(../img/spritesheet.png);
    background-position: -116px -5px;
}

.social__link_gp {
    width: 22px;
    height: 21px;
    background: url(../img/spritesheet.png);
    background-position: -148px -5px;
}

.social__link_tw {
    width: 22px;
    height: 21px;
    background: url(../img/spritesheet.png);
    background-position: -238px -5px;
}

.middle-block {
    position: relative;
    background: #fff;
}

.middle-block__heading {
    margin-top: 38px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #3498db;
}

.pros {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pros-item {
    display: inline-block;
    width: 290px;
    margin-right: 55px;
    padding: 0;
}

.pros-item:last-of-type {
    margin-right: 0;
}

.pros-item__img {
    width: 290px;
    height: 159px;
    margin-bottom: 16px;
}

.pros-item__heading {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin: 10px auto;
}

.pros-item__content {
    padding: 0;
    display: block;
    height: 150px;
    width: 285px;
    text-align: center;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
}

.pros-item__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}

.pros-item__link {
    display: inline-block;
    width: 52px;
    height: 47px;
    border-radius: 52px;
    border: 1px solid #e8e8e8;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 42px;
    color: #333;
    text-transform: uppercase;
    padding-top: 5px;
    margin-top: 13px;
}

.about {
    position: relative;
}

.slider-control {
    position: absolute;
    width: 100px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: -9px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

.slider-control-left {
    right: 44px;
    background-color: #f2f2f2;
}

.slider-control__icon-left {
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    width: 11px;
    height: 17px;
    background-position: -74px -5px;
    margin: 12px 0 0 14px;
}

.slider-control__icon-right {
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    width: 11px;
    height: 17px;
    background-position: -95px -5px;
    margin: 12px 0 0 14px;
}

.slider-control-right {
    right: 0;
}

.about__text {
    position: relative;
    width: 725px;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.about__text:before {
    position: absolute;
    top: -31px;
    content: "";
    background-image: url(../img/spritesheet.png);
    width: 19px;
    height: 15px;
    background-position: -209px -5px;
}

.about__text:after {
    position: absolute;
    bottom: -61px;
    content: "";
    background-image: url(../img/spritesheet.png);
    width: 19px;
    height: 14px;
    background-position: -180px -5px;
}

.about__cite {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    float: right;
    text-transform: uppercase;
}

.about__cite:before {
    content: "—";
    margin-right: 3px;
    font-weight: 700;
}

.bottom-block {}

.bottom-block__button {}

.bottom-block__img {}

.footer {
    background-color: #3498db;
    width: 100%;
    height: 194px;
}

.logo_footer {
    width: 100px;
}

.logo__link_footer {
    white-space: pre-line;
}

.social_footer {}

.footer__credits {}
/* Sprite

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow_circle {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-arrow_down {
    width: 17px;
    height: 11px;
    background-position: -47px -5px;
}

.sprite-arrow_left {
    width: 11px;
    height: 17px;
    background-position: -74px -5px;
}

.sprite-arrow_right {
    width: 11px;
    height: 17px;
    background-position: -95px -5px;
}

.sprite-facebook {
    width: 22px;
    height: 21px;
    background-position: -116px -5px;
}

.sprite-google-plus {
    width: 22px;
    height: 21px;
    background-position: -148px -5px;
}

.sprite-quot_down {
    width: 19px;
    height: 14px;
    background-position: -180px -5px;
}

.sprite-quot_up {
    width: 19px;
    height: 15px;
    background-position: -209px -5px;
}

.sprite-twitter {
    width: 22px;
    height: 21px;
    background-position: -238px -5px;
}
