.container
{
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: 40px;

    background: rgb(166, 77, 255);
}

ul
{
    width: 900px;
    margin: auto;

    text-align: justify;
}

.menu_item
{
    float: left;

    width: 100px;
    height: 40px;
    margin-right: 2px;

    list-style-type: none;

    text-align: center;
}

.menu_item a
{
    font-family: Impact, monospace;
    font-size: 18px;

    float: left;

    width: 104px;
    height: 30px;
    padding-top: 10px;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
}

.menu_item:last-of-type
{
    float: right;
}

.menu_item a:hover
{
    color: rgb(160, 160, 160);
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
}
